<h1><%= @title %></h1>
<p><%= @msg %></p>


<%= form_tag(controller: "helo", action: "index") do %>

<br><br><br><br><br><br><br><br><br><br>

<%= select_tag('s1',
    options_for_select(\
        ["windows","macos","linux"])\
        ,{size:5, multiple:true}) %>
<%= submit_tag("Click") %>


<br><br><br><br><br><br><br><br><br><br>

<%= check_box_tag("check1") %>
<%= label_tag("check1","check box") %>
<%= submit_tag("Click") %>

<br><br><br><br><br>

<%= radio_button_tag("r1","radio 1") %>
<%= label_tag('r1_radio_1',"Radio Button 1") %>
<%= radio_button_tag("r1","radio 2") %>
<%= label_tag('r2_radio_2',"Radio Button 2") %>
<%= submit_tag("Click") %>


<br><br><br><br><br>

<%= text_field_tag("input1") %>
<%= submit_tag("Click") %>
<% end %>


